html {
	
	box-sizing: border-box;
	font-family: sans-serif;
	color: #FFF;
	background: rgb(92, 163, 214);
}

*, *:before, *:after {
	
	box-sizing: inherit;
}


ul {

	list-style: none;
}


li label {

	font-size: 14px;
}


.cContainer form {

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}


.cFormContainer ul {

	display: flex;
	flex-direction: column;
}


.cInp {

	outline: #FFF solid 2px;
	border: none;
	width: 250px;
	background-color: rgb(92, 163, 214);
	color: #FFF;
	margin-bottom: 25px;
	margin-top: 10px;
}


::-webkit-input-placeholder {

	color: rgb(41, 105, 152);
	font-style: italic;
}

.cInp:focus, .cInp:hover {
	
	outline: rgb(41, 105, 152) solid 2px;
		
}




