html {
	
	box-sizing: border-box;
	font-family: sans-serif;
	color: #FFF;
	background: rgb(92, 163, 214);
}

*, *:before, *:after {
	
	box-sizing: inherit;
}


ul {

	list-style: none;
}


li label {

	font-size: 14px;
}


.cContainer form {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


.cFormContainer ul {

	display: flex;
	flex-direction: column;
}


.cInp {

	width: 250px;
	background-color: rgb(92, 163, 214);
	outline-color: rgb(41, 105, 152);
	color: #FFF;
	margin-bottom: 25px;
	margin-top: 10px;
}


.cFormInput input{

	border: 2px solid #FFF;
}


.cFormInput textarea{

	border: 2px solid #FFF;
}


::-webkit-input-placeholder {

	color: rgb(41, 105, 152);
	font-style: italic;
}
